body {
    font-family: Arial, sans-serif;
}

/* Default styles for both desktop and mobile */
.header,
.jumbotron {
    background-color: #f8f9fa;
    margin-bottom: 30px;
}

.jumbotron {
    position: relative;
    z-index: 1;
    overflow: hidden;
    max-height: 300px;
    overflow: auto;
    padding: 20px;
    height: 200px;
}

/* Responsive design */
@media (max-width: 768px) {
    .jumbotron {
        height: auto; /* Allow the height to adjust based on content */
        max-height: none; /* Remove the max-height constraint */
        overflow: visible; /* Allow content to overflow if needed */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}


.container {
    margin-top: 20px;
}

img.img-thumbnail {
    max-width: 200px;
    margin-bottom: 20px;
}

footer {
    background-color: #f8f9fa;
    color: #333;
}

#about img.img-thumbnail {
    max-width: 100%;
    height: auto;
}

#about h3 {
    margin-top: 20px;
}

#about p {
    text-align: justify;
}

#cvModal .modal-body iframe {
    width: 100%;
    height: 500px; /* Adjust height as needed */
}


.social-icons {
    margin: 20px 0;
}

.social-icon {
    margin-right: 10px;
    font-size: 24px; /* Adjust size as needed */
    color: #333; /* Adjust color as needed */
}

.social-icon:hover {
    color: #007bff; /* Adjust hover color as needed */
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background: red; Temporary background to check visibility */
}

@keyframes typing {
    from { width: 0 }
    to { width: max-content } /* Adjusts to the width of the content */
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(30, end),
        blink-caret .75s step-end infinite;
    max-width: max-content; /* Ensures the container fits the content width */
}

.typewriter {
    height: 50px; /* Adjust this based on your text size */
    overflow: hidden;
}

#experience {
    width: 100%;
  }
  
  .job {
    margin-bottom: 20px;
  }
  
  .position-company {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    font-size: 1rem;
  }
  
  .position-title {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .company, .location, .duration {
    margin-right: 5px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .position-company {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  
    .company, .location, .duration {
      margin-right: 0;
      margin-top: 5px;
    }
  }
  
/* Additional CSS to style the links */
a.company {
    color: inherit; /* This makes the link color the same as the parent element */
    text-decoration: none; /* Removes the underline from links */
  }
  
  a.company:hover {
    text-decoration: underline; /* Adds an underline on hover for better user experience */
  }
  
